<h1>Make A New Zine</h1>
<%= user = @user %>
<%= form_for @zine do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= fields_for :publication, @zine.publication do |pub| %>
<%= pub.collection_select :publisher_id, current_user.houses, :id, :name, include_blank: "Self Publish"%>
<% end %>
<%= f.submit %>
<% end %>
